<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Countries</key>
	<array>
		<string>South Korea</string>
		<string>United States</string>
		<string>Greece</string>
		<string>Antarctica</string>
		<string>Hong Kong</string>
	</array>
</dict>
</plist>
