<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tags</key>
	<array>
		<string>firstdate</string>
		<string>beauty</string>
		<string>splurge</string>
		<string>romantic</string>
        <string>classic</string>
        <string>partytime</string>
        <string>hair</string>
        <string>trend</string>
        <string>cute</string>
        <string>workplace</string>
        <string>everyday</string>
        <string>easystyle</string>
        <string>firstdate</string>
        <string>hairstyles</string>
        <string>bold</string>
	</array>
</dict>
</plist>
